.vscode/*
.DS_Store
html/w3schools/.DS_Store
html/w3schools/.DS_Store

#TESTES
05-tests/01-only-persons/node_modules
05-tests/web/courses/ta-js-erick-wendel/01-class-setup/node_modules
05-tests/web/courses/ta-js-erick-wendel/02-class-testing-concepts/node_modules