#flag {
    width: 100%;
    height: 900px;
    border: solid 1px black;
}

.primary-line {
    width: 100%;
    height: 300px;
    background-color: #a3a3ff;
}

#second-line {
    width: 100%;
    height: 300px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun {
    width: 300px;
    height: auto;
}