body {
    background-color: #bdbbbb;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner {
    width: 80%;
    height: 1024px;
    margin: 32px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 32px;
    background-color: #fff;
}

#menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#line-one {
    display: flex;
}

#line-two {
    display: flex;
}

#first-card {
    color: #fff;
    background-color: orange;
}

.cards {
    width: 400px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
}

.cards:hover {
    width: 400px;
    height: 200px;
    color: #fff;
    background-color: orange;
    box-shadow: 4px 4px #f4f4f4;
    transition-duration: 0.5s;
}

#description {
    width: 400px;
    height: auto;
}

#description:hover {
    width: 400px;
    height: auto;
    color: #fff;
    background-color: orange;
    box-shadow: 4px 4px #f4f4f4;
    transition-duration: 0.5s;
}
