#first-border, p{
    border: 1px solid #000; /*DEFINI BORDA EM UMA TAG*/
    border-radius: 8PX; /*ARREDONDA BORDA*/
}

#second-border {
    border: 1px;
    border-style: double; /* ALTERA A EXIBICAO DA BORDA*/
    border-color: blue;
}