body {
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 10%;
}

#top-bar {
    width: 100%;
    height: 50%;
    background-color: #0E1732;
}

#bottom-navigation {
    padding: 16px;
    width: 100%;
}

#list-navigation {
    width: 96%;
}

.item-navigation {
    padding: 0px 8px;
    margin: 0px 8px;
    display: inline;
}

.item-navigation:hover {
    text-decoration: underline;
}

#customize {
    float: right;
}

#main-container {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 66% 33%;
    height: 100vh;
}

#center-container {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 32px;
    display: grid;
    grid-template-rows: 30% 15% 15% 40%;
}

#first-line {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 33% 66%;
}

#active-users {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: #0E1732;
    color: white;
    box-shadow: 2px 2px 2px 2px #0e1732a0;
}

#views {
    width: calc(100% - 16px);
    height: calc(100% - 16px);

}

#second-line {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#third-line {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

#fourth-line {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: grid;
    grid-template-columns: 50% 50%;
}

.cards {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cards:hover {
    width: calc(101% - 16px);
    height: calc(101% - 16px);
    box-shadow: 2px 2px 2px 2px #0e1732a0;
}

.content {
    padding: 8px;
}

#side-container {
    width: 100% - 16px;
    height: calc(100% - 16px);
    margin: 32px;
    background-color: #ffffff;
}