#flag {
    width: 100%; 
    height: 700px; 
    border: solid 1px black;
}

#one-column {
    background-color:blue; 
    width: 33%; 
    height: 100%; 
    float: left;
}

#two-column {
    background-color:white; 
    width: 33%; 
    height: 100%; 
    display: inline;
}

#tree-column {
    background-color: red; 
    width: 33%; 
    height: 100%; 
    float: right;
}