#first-message {
    background-color: #FF0000;
    color: #FFFFFF;
}

#two-message {
    background-color: #000000;
    color: yellow;
}

#tree-message {
    background-color: #FFFFFF;
    color: green;
}