table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center; /* Centraliza o texto horizontalmente */
  vertical-align: middle; /* Centraliza o texto verticalmente */
}

table {
  border-spacing: 30px;
}

.tr {
  border-bottom: 1px solid #ddd;
}
