/*SELETORES COMBINADORES*/
/*EXISTEM 4 COMBINADORES DIFERENTES EM CSS*/
/*COMBINADOR DESCENDENTE (ESPAÇO)*/
/*COMBINADOR FILHO (>)*/
/*COMBINADOR IRMÃO PROXIMO (+)*/
/*COMBINADOR DE IRMAOS SUBSEQUENTES(~)

/*DESCENDENTE CORRESPONDE A TODOS OS ELEMENTOS QUE SAO DESCENDENTES DE UM ELEMENTO ESPECIFICADO*/
div p {
    color: blueviolet;
}

/*FILHO CORRESPONDE A TODOS OS ELEMENTOS QUE SAO DESCENDENTES DIRETOS DE UM ELEMENTO ESPECIFICADO*/
div > p {
    color: yellow;
}

/*IRMÃO PROXIMO CORRESPONDE AO PROXIMO ELEMENTO DE UM ELEMENTO ESPECIFICADO*/
div + p {
    color: pink;
}

/*IRMÃOS SUBSEQUENTES CORRESPONDE A TODOS OS ELEMENTOS QUE SAO IRMÃOS DE UM ELEMENTO ESPECIFICADO*/
span ~ p {
    color: red;
}