#title-music {
    display: flex;
}

#photo {
    height: 40px;
    width: 40px;
    margin: 8px;
    border: 1px solid transparent;
    border-radius: 64px;
}

h1 {
    color: #EC702D;
    padding: 0px;
    margin: 0px;
}

p {
    color: #b7b72a;
    padding: 0px;
    margin: 0px;
}

#girl {
    color: #0000ff;
}

#modern-world {
    color: brown;
    text-decoration: underline;
}

#something-else {
    color: blue;
}